


.mask {
width: -webkit-fill-available;
background-color: rgba(0,0,0,0.5);
position: absolute;
height: 100vh;
} /* Specify a stack order in case you're using a different order for other elements */





.navbar-nav li a:hover {
  color: black;
}
